<div class="header d-flex align-items-center justify-content-center">
  <p><img class="brgr" src="/images/brgr.png"></p>
  <p>
    <h1>The Burgers</h1>
  </p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Add a Burger</h2>
      <form class="add-burger">

        <div>
          <label>Burger Name:</label>
          <input type="text" id="burger-name" name="name">
        </div>

        <button type="submit">Add a Burger</button>
      </form>
    </div>
  </div>
  </p>
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Ready to Eat!</h2>
      <ul>
        {{#each burgers}}
        {{#unless eaten}}
        {{> brgrPart eaten=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  </p>
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Burgers eaten!</h2>
      <ul>
        {{#each burgers}}
        {{#if eaten}}
        {{> brgrPart eaten=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>
</div>