  body {
      background-color: rgb(207, 156, 79) ;
  }
  .header {
    color: white; 
    background-color:rgb(207, 156, 79) ;  
  }
  
  .brgr {
    width: 100px;
  }
  li {
    padding: 5px;
    margin: 5px;
    background: orange;
  }
  